/*blue button elements*/
.btn{
		float: right;
		margin-right: 30px;
}
.btn button{
		height: 50px;
		width: 100px;
		cursor: pointer;
		padding: 8px;
		background-color: #74b5e5; /*#262626*/
		border-radius: 5px;
		font-size: 20px;
		border-color: transparent;
		color: #262626;
}
.btn button a{
		text-decoration: none;
		color: black;
}
.btn button:hover{
		background-color: #538cb6;
		cursor: pointer;
}

@media only screen and (max-width: 767px) {
	.btn{
		margin-bottom: 60px;
		text-align: center !important;
		margin-right: 0;
		float: none;
	}
}
