@import url('css/global_css.css');
@import url('css/alert_card.css');
@import url('css/article_contents.css');
@import url('css/bootstrap_elements.css');
@import url('css/browser.css');
@import url('css/button.css');
@import url('css/code_block.css');
@import url('css/colors.css');
@import url('css/display_elements.css');
@import url('css/dropdown.css');
@import url('css/example_elements.css');
@import url('css/formated_text.css');
@import url('css/highlight_text.css');
@import url('css/images.css');
@import url('css/lightbox.css');
@import url('css/line.css');
@import url('css/list.css');
@import url('css/margin.css');
@import url('css/modal.css');
@import url('css/navbar.css');
@import url('css/output.css');
@import url('css/overflow.css');
@import url('css/page_content_and_grid.css');
@import url('css/roadmap_list.css');
@import url('css/table.css');
@import url('css/text_container.css');
@import url('css/text_content.css');
@import url('css/tooltip.css');

html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #27282c;
    /*background-color: #1f2223;*/
    overflow-x: hidden;
}


.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.question-container {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

.answer-container {
    display: flex;
    flex-direction: column;
}

.answer-btn {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.answer-btn:hover {
    background-color: #333;
    color: #fff;
}


































